<div class = "row">
	<div class = "col-md-11 text-right"> <%= link_to "All Products", products_path %> | <%= link_to "Log Out", session_path(current_user), method: :delete %></div>
<h1>Welcome <%= @user.first_name%></h1>
<div class="row">
<div class = "col-md-6">
<h3>Sell Product</h3>

	<form action="/products/" method="post">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		<div class="form-group"><input type="text" name="product[name]" placeholder="Name" class="form-control"></div>
		<div class="form-group"><input type="text" name="product[price]" placeholder="Price $" class="form-control"></div>

		<button type="submit" value="create" class="btn btn-success">Sell</button>
	</form>
</div>

	
</div>
<div>
<h3>Products that are not sold </h3>
	<table class="table">
		<thead>
			<tr>
				<th>Product</th>
				<th>Date Posted</th>
				<th>Amount</th>
				<th>Action</th>
			</tr>
		</thead>
		<% @user.products.each do |product| %>
			<% if product.bought == false %>
				<tr>
					<td><%= product.name %></td>
					<td><%= product.created_at.strftime("%B %d, %Y") %></td>
					<td>$ <%= product.price %></td>
					<td><%= link_to "Delete", product_path(product), method: :delete %></td>
				</tr> 
				<%end%>					
			<%end%>
	</table>
	
	<h3>Sales</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Product</th>
				<th>Buyer</th>
				<th>Date Sold</th>				
				<th>Amount</th>
			</tr>
		</thead>
		<% @user.products.each do |product| %>
			<% if product.bought == true %>
				<% product.boughts.each do |sale| %>
				<tr>
					<td><%= product.name%></td>
					<td><%= sale.first_name %> <%= sale.last_name %></td>
					<td><%=sale.updated_at.strftime("%B %d, %Y") %></td>
					<td>$ <%= product.price %></td>
					
				</tr> 
				<%end%>	
				<%end%>
			
			<%end%>
	</table>
	<p class="text-right">Total Sales $ <%= @total_sale %></p>
	<h3>Purchases</h3>
		<table class="table">
		<thead>
			<tr>
				<th>Product</th>
				<th>Buyer</th>
				<th>Date Bought</th>				
				<th>Amount</th>
			</tr>
		</thead>
		<% @user.buys.each do |buy| %>
			
				<tr>
					<td><%= buy.name%></td>
					<td><%= buy.user.first_name %> <%= buy.user.last_name %></td>
					<td><%= buy.updated_at.strftime("%B %d, %Y") %></td>
					<td>$ <%= buy.price %></td>
					
				</tr> 
	
			<%end%>
			
	</table>
	<p class="text-right">Total purchases $ <%= @purchases %></p>
</div>
</div>